[submodule "glug_platform/common_headers"]
	path = glug_platform/common_headers
        url = https://github.com/libglug/common_headers.git
[submodule "test/cunit"]
	path = test/cunit
        url = https://github.com/libglug/cunit.git
